<h1>API Version 1</h1>
<form method="POST" action="api/v1.php">
  <input type="text" name="username" />
  <input type="password" name="password" />
  <input type="submit" />
</form>

<h1>API Version 2</h1>
<form method="POST" action="api/v2.php">
  <input type="text" name="username" />
  <input type="password" name="password" />
  <input type="submit" />
</form>

<h1>API Version 3</h1>
<form method="POST" action="api/v3.php">
  <input type="text" name="username" />
  <input type="password" name="password" />
  <input type="submit" />
</form>

<h1>API Version 4</h1>
<form method="POST" action="api/v4/">
  <input type="text" name="username" />
  <input type="password" name="password" />
  <input type="submit" />
</form>
